<div class="book-container">
<mat-card >
  <mat-card-title-group>
    <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Small</mat-card-subtitle>
      <mat-card-subtitle>Small</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      l;kjdf;alskjdf;laksdjf;laksjdf;lkajsd;
    </mat-card-content>
    <button mat-button color="primary">Add To Wishlist</button>
  </mat-card>
</div>
