<div class="book-container">
<mat-card *ngFor="let book of inputData" >
  <mat-card-title-group>
    <img mat-card-sm-image src="{{book.pic}}" >
      <mat-card-title>{{book.bookname}}</mat-card-title>
      <mat-card-subtitle>{{book.publisher}}</mat-card-subtitle>
      <mat-card-subtitle>{{book.date}}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      {{book.description}}
    </mat-card-content>
    <button mat-button color="primary" (click)="sendToWishList(book.bookname)">Add To Wishlist</button>
  </mat-card>
</div>
