.book-container {
    width: 40vw;
    height: 90vh;
    margin: 0px 10px;
    overflow: scroll;
    -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.book-container::-webkit-scrollbar {
    display: none;
  }

  mat-card{
    margin-bottom: 10px;
  }
  img{
    margin-bottom: 10px;
  }
  mat-card-content{
    margin-top: 5px;
  }